doctype html
html.
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.4.2/css/bulma.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.4.2/css/bulma.css.map">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.4.2/css/bulma.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.4.2/css/bulma.min.css.map">

    <head>
        <title>Hardy Pham</title>
    </head>
    <section class="hero is-bold is-small">
        <!-- Hero header: will stick at the top -->
        <div class="hero-head">
          <header class="nav">
            <div class="container">
              <div class="nav-left">
                <a class="nav-item">

                </a>
              </div>
              <span class="nav-toggle">
                <span></span>
                <span></span>
                <span></span>
              </span>
              <div class="nav-right nav-menu">
                <a class="nav-item is-active">
                  Projects
                </a>
                <a class="nav-item">
                  Experience
                </a>
                <a class="nav-item">
                  Education
                </a>
                <a class="nav-item">
                  Resume
                </a>
              </div>
            </div>
          </header>
        </div>
    </section>
    <section class="hero is-large is-light is-bold">
        <!-- Hero content: will be in the middle -->
        <div class="hero-body">
          <div class="container has-text-centered">
            <figure id="name" class="image is-128x128 img-circle">
                <img class="img-circle" src="images/hardy.jpg">
            </figure>
            <h1 class="title">
                Hardy Pham
            </h1>
            <h2 class="subtitle">
                Software Engineer and Developer
            </h2>
            <a href="http://www.linkedin.com/in/hardypham" class="nav-item inline">
                <i class="fa fa-linkedin-square fa-lg"></i>
            </a>
            <a href="http://www.github.com/h6pham8" class="nav-item inline">
                <i class="fa fa-github" aria-hidden="true"></i>
            </a>
          </div>
        </div>

      </section>

    <section class="hero is-medium">
        <div class="hero-body">
            <div class="container has-text-centered">
                <h1 class="title">
                    Projects
                 </h1>
            </div>
        </div>
    </section>